@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.prose :where(.katex):not(:where([class~="not-prose"] *)) {
  font-size: 1.05em;
}
